@media (max-width: 768px){
    .center{
        padding-left: 16px;
        padding-right: 16px;
    }

    .top{
        background-image: url(./img/headerbackground.jpg);
        background-size: 150%;
        height: 735px;
    }

    .header__menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 238px;
    }

    .header__title{
        font-size: 32px;
        text-align: center;
        width: 370px;
    }
    
    .header__information{
        font-size: 14px;
        text-align: center;
        width: 343px;
    }

    .header__information-bold{
        font-size: 14px;
    }

    .product__image{
        width: 343px;
    }

    .button:hover{
        transform: none;
        background: #9C0332;
    }

    .seasons__game{
        height: 653px;
    }

    .seasons__card{
        display: flex;
        flex-direction: column-reverse;
        padding-top: 0;
    }

    .seasons__icon{
        width: 345px;
        padding-top: 64px;
    }

    .seasons__product{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .game__title{
        font-size: 32px;
        font-weight: 700;
        text-align: center;
        padding-top: 50px;
    }

    .game__information{
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        width: 343px;
    }
}

