*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    font-family: 'Montserrat', sans-serif;
    background-color: #000915;
}

.center{
    padding-inline: max(50% - 600px, 16px);
}

.top{
    background-image: url(./img/headerbackground.jpg);
    height: 1024px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header__menu{
    padding-top: 217px;
}

.header__title{
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 730px;
    padding-bottom: 32px;
}

.product__image{
    position: relative;
}

.header__information{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    width: 480px;
    padding-bottom: 44px;
}

.header__information-bold{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

.prouct__content{
    display: flex;
    gap: 32px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 128px;
    padding-bottom: 128px;
}

.product__information{
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    position: absolute;
}

.button{
    border-radius: 30px;
    background: #9C0332;
    width: 234px;
    height: 48px;
    border: none;
    font-family: inherit;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 0.4s;
}

.button:hover{
    transform: scale(1.15);
    background: #6e0223;
}

.relative {
    position: relative;
} 

.absolute {
    position: absolute;
    bottom: 32px;
    left: 32px;
    width: 84px;
    height: 32px;
}

.seasons__game{
    height: 800px;
}

.seasons__card{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 242px;
}

.game__title{
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 32px;
    padding-top: 32px;
}

.game__information{
    color: #FFF;
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 32px;
    width: 584px;
}